@font-face {
    font-family: 'MyFont';
    src: url('../fonts/FZSJ-MIAOWANGT.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.info-box {
    /* height: 210px; */
    justify-content: flex-end;
    padding-top: 20px;
}

.func-box {
    /* height: 50%; */
    width: 100%;
    justify-content: flex-start;
    padding-bottom: 70px;
}

.center-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-text {
    font-family: 'MyFont';
    font-size: 40px;
    color: #634f3b;
}

.middle-text {
    font-family: 'MyFont';
    font-size: 30px;
    color: #634f3b;
}

.small-text {
    font-family: 'MyFont';
    font-size: 20px;
    color: #634f3b;
}

.small-button {
    width: 50px;
    height: 50px;
    background-image: url('../images/small-button.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}

.small-button:active {
    background-image: url('../images/small-button-press.png');
}

.small-button-text {
    margin-bottom: 7px;
}

.big-button {
    width: 160px;
    height: 70px;
    background-image: url('../images/big-button.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}

.big-button:active {
    outline: none;
}

.big-button-text {
    margin-bottom: 13px;
}

.nienie-button {
    width: 150px;
    height: 150px;
    margin: 10px;
    background-image: url('../images/nienie.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}

.nienie-button-active {
    background-image: url('../images/nienie-press.png');
}

.nene-button {
    width: 120px;
    height: 150px;
    margin: 10px;
    background-image: url('../images/nene.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}

.nene-button-active {
    background-image: url('../images/nene-press.png');
}

.arrow {
    background-image: url('../images/arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.arrow-left {
    margin-right: 130px;
    margin-left: 15px;
}

.arrow-none {
    width: 24px;
    height: 30px;
    border: none;
    background-color: transparent;
}

.arrow-box {
    height: 25px;
}